* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  padding: 30px;
}

h2 {
  font-size: 2rem;
}
h2 + p {
  font-size: 1.6rem;
  margin: 0 0 20px;
}

.weather-icon {
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
}
